{% extends "header.html" %}

{% block content %}
  <h3>Create a new post here</h3>
  
    <form method="post">
      <div>
        <label for="post">Subject:</label>
        <input class="textbox" type="text" name="subject" value="{{subject}}">
      </div>

      <div>
        <label for="post">Blog:</label>
        <textarea class="textarea" name="content">{{content}}</textarea>
      </div>

      <div class="error">{{error}}</div>
      <br>
      <input type="submit">
    </form>
{% endblock %}
